<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:p="http://www.springframework.org/schema/p"
    xmlns:context="http://www.springframework.org/schema/context"
    xmlns:mvc="http://www.springframework.org/schema/mvc"
    xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.2.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-3.2.xsd">
 
    <!-- get benefit of annotations -->
    <context:annotation-config></context:annotation-config>
 
    <!-- declare spring DAO -->
    <!-- 
    <bean id="pieChartDao" class="in.webtuts.google.chart.spring.daos.PieChartDaoImpl"></bean>
  	-->
  	
    <!-- declare spring Service -->
    <!--  
    <bean id="pieChartService"
        class="in.webtuts.google.chart.spring.services.PieChartServiceImpl">
        <property name="pieChartDao" ref="pieChartDao"></property>
    </bean>
    -->
</beans>